---
import './styles.css'
import { topInfoNavBarButtons, bottomInfoNavBarButtons } from './content';

---

<nav class="NavBar">
    <ul>
        {
            topInfoNavBarButtons.map(element => (
                <a href={element.href}>
                    <li class="NavBarElement"set:html={element.svg}>
                        <span set:html={element.hoverText}></span>
                    </li>
                </a>
            ))
        }
    </ul>
    <ul>
        {
            bottomInfoNavBarButtons.map(element => (
                <li class="NavBarElement">
                    <a href={element.href} set:html={element.svg} target='blank' title={element.hoverText} aria-labelledby="titulo-conocimientos descripcion-conocimientos">
                        <span set:html={element.hoverText}></span>
                    </a>
                </li>
            ))
        }
    </ul>
</nav>